@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'navbar.scss';
@import 'dashboard.scss';
@import 'home.scss';
@import 'projects.scss';
@import 'project.scss';
@import 'files.scss';
@import 'modal.scss';
@import 'scrollbox.scss';
@import 'chat.scss';
@import 'autosuggest.scss';

$color: lighten(#18a29a, 6%);
$secondary_color: lightgrey;


.dash-container, .profile-container, .project-show {
  margin-top: 80px;

}


body {
}
