@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'navbar.scss';
@import 'dashboard.scss';
@import 'home.scss';
@import 'projects.scss';
@import 'project.scss';
@import 'new_project.scss';
@import 'files.scss';
@import 'modal.scss';
@import 'scrollbox.scss';
@import 'chat.scss';
@import 'autosuggest.scss';
@import 'message.scss';
@import 'profile.scss';
@import 'sign_up.scss';
@import 'login.scss';
@import 'admin.scss';
@import 'chatbox.scss';

$color: lighten(#18a29a, 6%);
$secondary_color: lightgrey;


.dash-container, .profile-container, .project-show {
  margin-top: 80px;

}


body {
}


.no-select{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
